<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>


        <div>
            <div class="big-block">
                <h4>About us</h4>
                <p>Indeed, our hearts are the compasses that guide us through the twists and turns of life. They tell us where to go, what to do, and who to be. But navigating life with the heart is not always easy. It requires courage, faith, and a willingness to embrace the unknown.</p>
            </div>
        </div>

    <footer>
        <div class="footer-div">
            <p>one</p>
            this is the first
        </div>


        <div class="footer-div">
            <p>two</p>
            this is the second
        </div>


        <div class="footer-div">
            <p>three</p>
            this is the third
        </div>
    </footer>
</body>
</html>